[Desktop Entry]
Name=Zerkalo
GenericName=Typst Editor
Comment=A contemplative Typst editor
Exec=zerkalo %U
Icon=zerkalo
Type=Application
Categories=Office;TextEditor;
Keywords=typst;editor;writing;
StartupWMClass=Zerkalo
StartupNotify=true
MimeType=text/x-typst;
DBusActivatable=true
